body {
  font-family: 'Press Start 2P', Helvetica, sans-serif;
}

main {
  padding-bottom: 120px;
}

@media (max-width: 800px)
  {

  main {
    padding-bottom: 220px;
  }
}

main > section {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px)
    {

  main > section {
    width: 90%;
  }
}

h1 {
  text-align: center;
  padding: 20px 0;
}


pokemon-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  background-color: #fff;
  list-style: none;
}


@media (max-width: 800px)
  {

  pokemon-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}


pokemon-list pokemon-card {
  margin: 10px;
  margin-bottom: 20px;
  width: 30%;
  max-width: 230px;
  border: 2px solid #000;
  border-radius: 8px;
  -webkit-flex-basis: 160px;
      -ms-flex-preferred-size: 160px;
          flex-basis: 160px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}


@media (max-width: 800px)
    {

  pokemon-list pokemon-card {
    -webkit-flex-basis: 210px;
        -ms-flex-preferred-size: 210px;
            flex-basis: 210px;
  }
}


@media (max-width: 500px)
    {

  pokemon-list pokemon-card {
    max-width: 280px;
  }
}


pokemon-list pokemon-card img {
  width: 120px;
  height: 120px;
}


@media (max-width: 500px)
      {

  pokemon-list pokemon-card img {
    width: 190px;
    height: 190px;
  }
}

.name {
  font-weight: 700;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

.types {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%;
  margin: 10px auto 15px;
}

.types li {
  box-sizing: border-box;
  width: 48%;
  padding: 3px 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 9px;
  text-overflow: ellipsis;
  border-color: var(--color);
  background: -webkit-linear-gradient(top, var(--color), #fff);
  background: linear-gradient(to bottom, var(--color), #fff);
}

.types li.smalltext {
  font-size: 8px;
}

.stats-screen {
  all: unset;
  width: 220px;

  position: fixed;
  left: 100%;
  top: 50%;

  background-color: #fff;
  border: 2px solid black;


  -webkit-transition: -webkit-transform 400ms linear;


  transition: -webkit-transform 400ms linear;


  transition: transform 400ms linear;


  transition: transform 400ms linear, -webkit-transform 400ms linear;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}

.stats-screen .close {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  outline: none;
}

.stats-screen[open] {
  -webkit-animation: slide 300ms forwards;
          animation: slide 300ms forwards;
}

.stats-screen img {
  width: 90%;
  height: auto;
}

.stats-screen table {
  width: 100%;
  font-size: 12px;
  padding: 20px 6px;
}


.filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;

  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  padding: 10px;

  width: 90%;
  max-width: 800px;
  border: 2px solid #000;
  background-color: #fff;

  text-align: left;
  font-size: 10px;


}


@media (max-width: 800px)
  {

  .filters {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}


.filters fieldset {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


.filters fieldset:first-child {
  width: 180px;
}


@media (max-width: 800px)
      {

  .filters fieldset:first-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 10px;
  }
}


.filters fieldset:last-child {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


.filters input {
  position: absolute;
  visibility: hidden;
}


.filters input:checked + span::after {
  position: absolute;
  left: 4px;
  top: -7px;
  content: '\25CF';
  font-size: 14px;
}


.filters label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  line-height: 1.8;
}


.filters label:first-child {
  margin-bottom: 10px;
}


.filters label::before,
    .filters label::after {
  position: absolute;
  pointer-events: none;
}


.filters label::before {
  left: 0;
  top: -23px;
  content: '\25CB';
  font-size: 29px;
}


.filters .types {
  margin: 0;
  max-width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}


.filters .types li {
  width: auto;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background: none;
  border-color: #000;
}


.filters .types li.selected {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
  background: -webkit-linear-gradient(top, var(--color), #fff);
  background: linear-gradient(to bottom, var(--color), #fff);
  border-color: var(--color);
}


.loader {
  display: none;

  padding: 15px 0;
}


.loader span {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
}


.loader span:nth-of-type(1) {
  -webkit-animation-name: firstdot;
          animation-name: firstdot;
}


.loader span:nth-of-type(2) {
  -webkit-animation-name: seconddot;
          animation-name: seconddot;
}


.loader span:nth-of-type(3) {
  -webkit-animation-name: thirddot;
          animation-name: thirddot;
}


.loader.pending {
  display: block;
}
/* Loader keyframes */
@-webkit-keyframes firstdot {
  0% {opacity: 0}
  25% {opacity: 1}
}
@keyframes firstdot {
  0% {opacity: 0}
  25% {opacity: 1}
}
@-webkit-keyframes seconddot {
  0% {opacity: 0}
  50% {opacity: 1}
}
@keyframes seconddot {
  0% {opacity: 0}
  50% {opacity: 1}
}
@-webkit-keyframes thirddot {
  0% {opacity: 0}
  75% {opacity: 1}
}
@keyframes thirddot {
  0% {opacity: 0}
  75% {opacity: 1}
}

@-webkit-keyframes slide {
  from {  -webkit-transform: translateY(-50%);  transform: translateY(-50%); }
  to { -webkit-transform: translate(-220px, -50%); transform: translate(-220px, -50%); }
}

@keyframes slide {
  from {  -webkit-transform: translateY(-50%);  transform: translateY(-50%); }
  to { -webkit-transform: translate(-220px, -50%); transform: translate(-220px, -50%); }
}

.more {
  display: block;
  height: 30px;
  color: #fff;
  background-color: #008CFF;
  border-radius: 8px;
  line-height: 30px;
  padding: 5px 0;

  cursor: pointer;

  font-size: 20px;
  font-weight: 700;
}

.emptylist {
  padding-bottom: 10px;
  color: #999;
}

.hidden {
  display: none !important;
}