:root {
--normal:#c7c7c7;
--fighting:#d2004f;
--flying:#76d8f8;
--poison:#d64dea;
--ground:#b4893f;
--rock:#979695;
--bug:#2ea049;
--ghost:#b89bad;
--steel:#979cce;
--fire:#ea4d4e;
--water:#08ccde;
--grass:#08de21;
--electric:#d3e6e7;
--ice:#a4c6ff;
--dragon:#5ec232;
--dark:#717171;
--fairy:#d9a3d6;
--psychic:#f6d976;
};