@import "_colors.css";

body {
  font-family: 'Press Start 2P', Helvetica, sans-serif;
}

main {
  padding-bottom: 120px;
  @media (width <= 800px)
  {
    padding-bottom: 220px;
  }

  > section {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;

    @media (width <= 800px)
    {
      width: 90%;
    }
  }
}

h1 {
  text-align: center;
  padding: 20px 0;
}


pokemon-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  background-color: #fff;
  list-style: none;

  @media (width <= 800px)
  {
    justify-content: center;
  }

  pokemon-card {
    margin: 10px;
    margin-bottom: 20px;
    width: 30%;
    max-width: 230px;
    border: 2px solid #000;
    border-radius: 8px;
    flex-basis: 160px;
    flex-grow: 1;
    cursor: pointer;

    @media (width <= 800px)
    {
      flex-basis: 210px;
    }

    @media (width <= 500px)
    {
      max-width: 280px;
    }

    img {
      width: 120px;
      height: 120px;

      @media (width <= 500px)
      {
        width: 190px;
        height: 190px;
      }
    }
  }
}

.name {
  font-weight: 700;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

.types {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 90%;
  margin: 10px auto 15px;

  li {
    box-sizing: border-box;
    width: 48%;
    padding: 3px 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 5px;

    font-size: 9px;
    text-overflow: ellipsis;

    border-color: var(--color);
    background: linear-gradient(to bottom, var(--color), #fff);

    &.smalltext {
      font-size: 8px;
    }
  }
}

.stats-screen {
  all: unset;
  width: 220px;

  position: fixed;
  left: 100%;
  top: 50%;

  background-color: #fff;
  border: 2px solid black;


  transition: transform 400ms linear;
  transform: translateY(-50%);
  will-change: transform;

  .close {
    position: absolute;
    left: 10px;
    top: 10px;

    width: 30px;
    height: 30px;
    outline: none;
  }


  &[open] {
    animation: slide 300ms forwards;
  }

  img {
    width: 90%;
    height: auto;
  }

  table {
    width: 100%;
    font-size: 12px;
    padding: 20px 6px;
  }
}


.filters {
  display: flex;
  box-sizing: border-box;

  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  padding: 10px;

  width: 90%;
  max-width: 800px;
  border: 2px solid #000;
  background-color: #fff;

  text-align: left;
  font-size: 10px;

  @media (width <= 800px)
  {
    flex-wrap: wrap;
  }

  fieldset {
    align-self: stretch;
    flex-grow: 1;

    &:first-child {
      width: 180px;

      @media (width <= 800px)
      {
        & {
          flex-basis: 100%;
          margin-bottom: 10px;
        }
      }
    };

    &:last-child {
      flex-grow: 1;
    };
  }

  input {
    position: absolute;
    visibility: hidden;
  }

  input:checked + span {
    &::after {
      position: absolute;
      left: 4px;
      top: -7px;
      content: '\25CF';
      font-size: 14px;
    };
  }

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    line-height: 1.8;


    &:first-child {
      margin-bottom: 10px;
    };

    &::before,
    &::after {
      position: absolute;
      pointer-events: none;
    }

    &::before {
      left: 0;
      top: -23px;
      content: '\25CB';
      font-size: 29px;
    };
  }

  .types {
    margin: 0;
    max-width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;

    li {
      width: auto;
      margin-right: 10px;
      cursor: pointer;

      opacity: 0.5;
      filter: grayscale(100%);
      background: none;
      border-color: #000;

      &.selected {
        opacity: 1;
        filter: none;
        background: linear-gradient(to bottom, var(--color), #fff);
        border-color: var(--color);
      }
    }
  }


}


.loader {
  display: none;

  padding: 15px 0;
  span {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;

    &:nth-of-type(1) {
      animation-name: firstdot;
    };
    &:nth-of-type(2) {
      animation-name: seconddot;
    };
    &:nth-of-type(3) {
      animation-name: thirddot;
    };
  }

  &.pending {
    display: block;
  }
}
/* Loader keyframes */
@keyframes firstdot {
  0% {opacity: 0}
  25% {opacity: 1}
}
@keyframes seconddot {
  0% {opacity: 0}
  50% {opacity: 1}
}
@keyframes thirddot {
  0% {opacity: 0}
  75% {opacity: 1}
}

@keyframes slide {
  from {  transform: translateY(-50%); }
  to { transform: translate(-220px, -50%); }
}

.more {
  display: block;
  height: 30px;
  color: #fff;
  background-color: var(--moreBtn);
  border-radius: 8px;
  line-height: 30px;
  padding: 5px 0;

  cursor: pointer;

  font-size: 20px;
  font-weight: 700;
}

.emptylist {
  padding-bottom: 10px;
  color: var(--lightgray);
}

.hidden {
  display: none !important;
}